Seminar1/Seminar1.csproj
Seminar1/bin/
Seminar1/obj/
Seminar1/

HW_1/HW_1.csproj
HW_1/bin
HW_1/obj

HW_1.zip

HW_2/HW_2.csproj
HW_2/bin
HW_2/obj

HW_2.zip

Seminar2/Seminar2.csproj
Seminar2/bin/
Seminar2/obj/
Seminar2/

HW_3/HW_3.csproj
HW_3/bin
HW_3/obj

checks.json
Lessons/Lessons.csproj
Lessons/bin/
Lessons/obj/
Lessons/

HW_4/HW_4.csproj
HW_4/bin
HW_4/obj

HW_5/HW_5.csproj
HW_5/bin
HW_5/obj

Lesson4/obj
Lesson4/Lesson4.csproj
Lesson4/bin/
Lesson4/obj/
